<section class="sh-form">
  <form class="form" #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <h2 class="subtitle">Add a new shareholder</h2>
    <fieldset class="form__fieldset form__fieldset_type_add-form">
      <label class="form__label form__label_type_add-name"
        >Name
        <input
          class="form__input form__input_type_name"
          ngModel
          name="name"
          #nameDir="ngModel"
          type="text"
          placeholder="Name of a shareholder"
          required
          minlength="2"
          maxlength="80"
        />
        <div
          *ngIf="nameDir.invalid && showValidationErrors"
          class="form__errors-box"
        >
          <span
            class="form__error"
            *ngIf="nameDir.errors && nameDir.errors.required"
            >Name is required</span
          >
          <span
            class="form__error"
            *ngIf="nameDir.errors && nameDir.errors.minlength"
            >Name must be at least 2 characters long.</span
          >
          <span
            class="form__error"
            *ngIf="nameDir.errors && nameDir.errors.maxlength"
            >Name must not be more than 80 characters long.</span
          >
        </div>
      </label>
      <label class="form__label form__label_type_add"
        >Number of shares
        <input
          class="form__input form__input_type_text"
          id="quantity"
          name="quantity"
          ngModel
          #quantityDir="ngModel"
          type="number"
          placeholder="Number of shares"
          required
          min="1"
          max="1000000000000"
        />
        <div
          *ngIf="quantityDir.invalid && showValidationErrors"
          class="form__errors-box"
        >
          <span
            class="form__error"
            *ngIf="quantityDir.errors && quantityDir.errors.required"
            >Amount is required</span
          >
          <span
            class="form__error"
            *ngIf="quantityDir.errors && quantityDir.errors.max"
            >Amount must not exceed 1000.000.000.000</span
          >
        </div>
      </label>
      <label class="form__label form__label_type_add"
        >Type of shares
        <select
          class="form__input form__input_type_select"
          id="type"
          name="type"
          ngModel
          #typeDir="ngModel"
          required
        >
          <option value="Ordinary">Ordinary</option>
          <option value="Redeemable">Redeemable</option>
          <option value="Preference">Preference</option>
        </select>
        <div
          *ngIf="typeDir.invalid && showValidationErrors"
          class="form__errors-box"
        >
          <span
            class="form__error"
            *ngIf="typeDir.errors && typeDir.errors.required"
            >Type is required</span
          >
        </div>
      </label>
      <button
        type="submit"
        class="button button_type_text button_type_add button_type_red"
      >
        <i class="material-icons button__icon button__icon_type_red">add</i>
        Add
      </button>
      <span class="form__error form__error_total">{{
        this.totalErrorText
      }}</span>
    </fieldset>
  </form>
</section>
