<section class="sh-table-section">
  <h2 class="subtitle">Current shareholders</h2>
  <table class="table sh-table" *ngIf="shareholders.length > 0">
    <thead class="thead">
      <tr class="tr">
        <th class="th th_type_id">id</th>
        <th class="th th_type_name">name</th>
        <th class="th th_type_number">number of shares</th>
        <th class="th th_type_percent">%</th>
        <th class="th th_type_type">type of shares</th>
        <th class="th th_type_controls"></th>
      </tr>
    </thead>

    <tbody class="tbody">
      <tr class="tr tr_type_sh-table" *ngFor="let sholder of shareholders">
        <td class="td td_type_id">{{ sholder.id }}</td>
        <td class="td td_type_name">{{ sholder.name }}</td>
        <td class="td td_type_number">{{ sholder.quantity }}</td>
        <td class="td td_type_percent">
          {{ (sholder.quantity / sum) * 100 | number: '1.0-1' }}%
        </td>
        <td class="td td_type_type">{{ sholder.type }}</td>
        <td class="td td_type_controls">
          <button
            class="button button_type_controls table__controls-button"
            (click)="editShareholder(sholder.id, sholder)"
          >
            <i class="material-icons button__icon">edit</i>
          </button>
          <button class="button button_type_controls table__controls-button">
            <i
              class="material-icons button__icon"
              (click)="deleteShareholder(sholder.id)"
              >delete</i
            >
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
