<div mat-dialog-content>
  <form class="form" #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <h2 class="subtitle">Update shareholder</h2>
    <fieldset class="form__fieldset form__fieldset_type_edit-sh">
      <label class="form__label"
        >Name
        <input
          class="form__input form__input_type_text"
          name="name"
          id="name"
          [(ngModel)]="name"
          #nameDir="ngModel"
          type="text"
          placeholder="Name of a shareholder"
          required
          minlength="2"
          maxlength="80"
        />
        <span
          class="form__error"
          *ngIf="nameDir.errors && nameDir.errors.required"
          >Name is required.</span
        >
        <span
          class="form__error"
          *ngIf="nameDir.errors && nameDir.errors.minlength"
          >Name must be at least 2 characters long.</span
        >
        <span
          class="form__error"
          *ngIf="nameDir.errors && nameDir.errors.maxlength"
          >Name must not be more than 80 characters long.</span
        >
      </label>
      <label class="form__label"
        >Number of shares
        <input
          class="form__input form__input_type_text"
          name="quantity"
          id="quantity"
          [(ngModel)]="quantity"
          #quantityDir="ngModel"
          type="number"
          placeholder="Number of shares"
          required
          min="1"
          max="1000000000000"
        />
        <span
          class="form__error"
          *ngIf="quantityDir.errors && quantityDir.errors.required"
          >Amount is required.</span
        >
        <span
          class="form__error"
          *ngIf="quantityDir.errors && quantityDir.errors.max"
          >Amount must not exceed 1000.000.000.000</span
        >
      </label>
      <label class="form__label"
        >Type of shares
        <select
          class="form__input form__input_type_select"
          id="type"
          name="type"
          [(ngModel)]="type"
          #nameDir="ngModel"
        >
          <option value="Ordinary">Ordinary</option>
          <option value="Redeemable">Redeemable</option>
          <option value="Preference">Preference</option>
        </select>
      </label>
      <button type="submit" class="button button_type_text button_type_red">
        <i class="material-icons button__icon button__icon_type_red">update</i>
        Update
      </button>
      <button
        type="button"
        class="button button_type_text button_type_grey button_type_popup"
        (click)="close()"
      >
        Cancel
      </button>
    </fieldset>
  </form>
</div>
