<section class="split-form">
  <form class="form" #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <h2 class="subtitle">Split shares</h2>
    <fieldset class="form__fieldset">
      <label class="form__label"
        >Choose ratio 2-10
        <select
          class="form__input form__input_type_select"
          id="ratio"
          name="ratio"
          ngModel
          required
        >
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </label>
      <button class="button button_type_text button_type_split button_type_red">
        <i class="material-icons button__icon button__icon_type_red"
          >call_split</i
        >
        Make split
      </button>
    </fieldset>
  </form>
</section>
