.container {
  background-color: #f0f2f7;
  margin: 0 auto;
}
.header {
  background-color: #ff4d4d;
  padding: 70px;
  display: flex;
  justify-content: center;
  height: 290px;
  box-sizing: border-box;
}
.header__title {
  font-family: 'Biryani', sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  margin: 0;
}
.main {
  display: flex;
  justify-content: center;
}
.main__container {
  background-color: #f0f2f7;
  padding: 40px;
  padding-bottom: 230px;
  margin-top: -70px;
  max-width: 1040px;
  border-radius: 5px;
  width: 80%;
  max-width: 1036px;
  position: relative;
}
.main__pic {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 307.7px;
}
.footer {
  padding: 50px;
  display: flex;
  justify-content: center;
}
.footer__logo {
  font-family: 'Biryani', sans-serif;
  font-size: 32px;
  font-weight: 900;
  color: #475878;
  margin: 0;
}
.main__header-not-found {
  font-size: 16px;
  color: #637294;
  padding-bottom: 24px;
}
@media all and (max-width: 770px) {
  .main__container {
    padding: 15px;
    padding-bottom: 340px;
  }
  .header__title {
    font-size: 38px;
  }
}
@media all and (max-width: 726px) {
  .main__container {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }
  .main__pic {
    width: 350px;
    height: 269px;
  }
}
