<div class="container">
  <header class="header">
    <h1 class="header__title">Shareholders</h1>
  </header>
  <main class="main">
    <div class="main__container">
      <app-sh-table
        [sum]="sum"
        [shareholders]="shareholders"
        [deleteApi]="deleteApi"
        [editApi]="editApi"
      ></app-sh-table>
      <p class="main__header-not-found" *ngIf="shareholders.length < 1">
        There are no shareholders to show yet. Please add them.
      </p>
      <app-sh-form
        [addApi]="addApi"
        [totalErrorText]="totalErrorText"
      ></app-sh-form>

      <app-split-form [makeSplit]="makeSplit"></app-split-form>
      <img
        src="https://secureservercdn.net/198.71.233.51/61o.f06.myftpupload.com/wp-content/uploads/2021/03/pic-copy.png?time=1615817991"
        class="main__pic"
        alt="Picture"
      />
    </div>
  </main>
  <footer class="footer">
    <h2 class="footer__logo">WE.VESTR</h2>
  </footer>
</div>
