<div mat-dialog-content>
  <form class="form" #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <h2 class="subtitle subtitle_centered">Are you sure?</h2>
    <fieldset
      class="form__fieldset form__fieldset_type_delete-sh centered-block"
    >
      <button
        type="submit"
        class="button button_type_text button_type_red button_type_popup"
      >
        Yes, delete
      </button>
      <button
        type="button"
        class="button button_type_text button_type_grey button_type_popup"
        (click)="close()"
      >
        No, cancel
      </button>
    </fieldset>
  </form>
</div>
