@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;400;600;700;900&family=Roboto:wght@400;500;700&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  --red-color: #ff4d4d;
  --light-grey: #637294;
  --dark-grey: #475878;
  --very-light-grey: #ccd3e3;
  --disabled-bg: #b6bcbf;
  --disabled-text: #e6e8eb;
  --black: #3f4653;
  --bg-grey: #f0f2f7;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.centered-block {
  display: flex;
  justify-content: space-around;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 24px;
  color: var(--black);
}
.subtitle_centered {
  text-align: center;
}
.form__fieldset {
  display: flex;
  padding: 20px 0;
  border: none;
  margin: 0;
  width: 100%;
}
.form__fieldset_type_edit-sh {
  flex-direction: column;
}
.form__fieldset_type_add-form {
  position: relative;
}
.button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: none;
  padding: 0;

  &:disabled {
    background-color: var(--disabled-bg);
    color: var(--disabled-text);
  }
}

.button_type_text {
  font-family: 'Biryani', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  height: 36px;
  box-sizing: border-box;

  &:hover {
    opacity: 0.8;
  }
}
.button_type_red {
  background-color: var(--red-color);
  &:hover {
    box-shadow: 0 0 2px 2px var(--red-color);
  }
}
.button_type_grey {
  background-color: var(--very-light-grey);
  &:hover {
    box-shadow: 0 0 2px 2px var(--very-light-grey);
  }
}
.button_type_add {
  margin-top: 18px;
  margin-left: 17px;
}
.button_type_split {
  margin-top: 18px;
  margin-left: 17px;
}
.button_type_popup {
  margin-top: 15px;
}

.button__icon_type_red {
  margin-right: 5px;
  margin-left: -5px;
}
.button_type_controls {
  color: var(--light-grey);
  background-color: var(--very-light-grey);
  padding: 4px 0 3px;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.4s visibility 0.4s transform 0.4s;

  &:first-of-type {
    border-top-left-radius: 5px;
  }
  &:last-of-type {
    border-top-right-radius: 5px;
  }
  &:hover {
    color: var(--black);
    background-color: #a2aecb;
  }
}

.td_type_controls:hover .button_type_controls {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.button__icon_type_controls {
  font-size: 18px;
}
.form__label {
  color: var(--light-grey);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  position: relative;
}
.form__label_type_add {
  margin-left: 17px;
  &:first-of-type {
    margin-left: 0;
  }
}
.form__label_type_add-name {
  width: 100%;
}

.form__input {
  padding: 9px 10px 10px;
  margin: 5px 0 10px;
  box-sizing: border-box;
  border: 1px solid var(--very-light-grey);
  border-radius: 5px;
  height: 36px;
  &:focus {
    outline: none;
    box-shadow: 0 0 5px #6596f9;
  }
  &::placeholder {
    color: var(--light-grey);
    opacity: 0.6;
  }
}
.form__input_type_name {
  width: 100%;
}
.form__error {
  position: absolute;
  left: 0;
  top: 58px;
  font-size: 12px;
  color: var(--red-color);
  max-height: 30px;
  overflow: hidden;
}
.form__error_total {
  top: 0;
}
.table {
  width: 100%;
  border-radius: 5px;
  border-collapse: collapse;
  overflow: hidden;
  margin: 20px 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--black);
  white-space: nowrap;
  text-align: center;
  border-spacing: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
.thead {
  background-color: var(--very-light-grey);
  box-sizing: border-box;
  max-width: calc(100% - 80px);

  th {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }
}
.tbody {
  box-sizing: border-box;
  max-width: calc(100% - 80px);
}
.tr_type_sh-table {
  box-sizing: border-box;
  td {
    box-sizing: border-box;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    &:last-of-type {
      padding: 0;
    }
  }
}
.th_type_id {
  max-width: 58px;
}
.td_type_id {
  max-width: 58px;
}
.th_type_name {
  width: 43%;
  max-width: 0.2vw;
  box-sizing: border-box;
}
.td_type_name {
  width: 43%;
  max-width: 0.2vw;
  box-sizing: border-box;
}

.th_type_number {
  width: 19%;
  max-width: 0.2vw;
}
.td_type_number {
  width: 19%;
  max-width: 0.2vw;
}

.th_type_percent {
  width: 6%;
}
.td_type_percent {
  width: 6%;
}

.th_type_type {
  width: 15%;
}
.td_type_type {
  width: 15%;
}

.tr {
  border-bottom: 2px solid var(--very-light-grey);
}
.td_type_controls {
  display: flex;
  min-width: 68px;
  padding: 0;
}

.th_type_controls {
  min-width: 68px;
  padding: 0;
}

@media all and (max-width: 770px) {
  .table {
    font-size: 14px;
  }
  .form__fieldset_type_add-form {
    flex-direction: column;
  }
  .button_type_add {
    margin-left: 0;
  }
  .form__label_type_add {
    margin-left: 0;
  }
}

@media all and (max-width: 726px) {
  .table {
    font-size: 12px;
  }
}
